!!! 5
html
  head
    title Suyeun Lee's Design Portfolio
    link(href="css/styles.css", rel="stylesheet")
  body
    h1 Good Morning, Sean!
    ul.filter-nav
      li(data-filter=".c") Corporate
      li(data-filter=".e") E-Commerce
      li(data-filter=".g") Game Site
      li(data-filter=".s") Social Games

    ul.work-list
      li
        .work-item.c One
      li
        .work-item.e Two
      li
        .work-item.g Three
      li
        .work-item.c Four
      li
        .work-item.s Five
      li
        .work-item.c Six
      li
        .work-item.e Seven
      li
        .work-item.g Eight
      li
        .work-item.c Nine
      li
        .work-item.s Ten
      li
        .work-item.c Eleven
      li
        .work-item.e Twelve
      li
        .work-item.g Thirteen
      li
        .work-item.c Fourteen
      li
        .work-item.s Fiveteen

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/isotope.js")
    script(src="js/scripts.js")

