!!! 5
html
  head
    title Suyeun Lee's Design Portfolio
    link(href='http://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:500,700', rel='stylesheet')
    link(href="css/styles.css", rel="stylesheet")
  body
    nav
      .nav-wrap
        h1 Good Morning, Sean!
        ul.nav-links
          li: a(href="down/resume_suyeunlee.pdf", target="_blank") Resume
          li: a(href="https://www.linkedin.com/profile/view?id=71186657", target="_blank") LinkedIn
          li: a(href="mailto:freshsean@gmail.com") E-Mail

    .wrap
      .intro Hello! My name is Suyeun Lee, thanks for visiting my portfolio. I love web &amp; graphic design, UX, UI, content strategy, information architecture and fashion. I hope you enjoy viewing my work, feel free to contact me for more information!

      ul.filter-nav
        li(data-filter=".c") Corporate
        li(data-filter=".e") E-Commerce
        li(data-filter=".g") Game Sites

      ul.project-list
        li
          .project-item.label 2014
        li
          .project-item.g
            img(src="https://m1.behance.net/rendition/modules/120402681/disp/ca92667365acf5f2a0b54abc1204cf31.jpg")

            .project-info.animate-opacity
              h2.project-title Futbol Mania Official Website
              a.project-link(href="futbol-official", data-images="4") View Details
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Futbol Mania Teaser Website
              a.project-link(href="futbol-teaser", data-images="3") View Details
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Crossfire Espa&ntilde;ol Website
              a.project-link(href="cf-es", data-images="10") View Details                    
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Faraway Kingdom Mobile Game Website
              a.project-link(href="fk") View Details   

        li
          .project-item.label 2013  
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title Locus Tax Credit
              a.project-link(href="locus") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title JJ Mural
              a.project-link(href="jj-mural") View Details                                   
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Lost Saga North America Official Website 
              a.project-link(href="ls-official") View Details   
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Grand Chase North America Official Website
              a.project-link(href="grand-chase") View Details 

        li
          .project-item.label 2012
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title JC &amp; Law
              a.project-link(href="jc") View Details
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title GameRage
              a.project-link(href="game-rage") View Details 
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Project Blackout
              a.project-link(href="pb") View Details                                                                       
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Pangya
              a.project-link(href="pangya") View Details
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Crossfire EU/NA/SA 
              a.project-link(href="cs") View Details
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Trickster
              a.project-link(href="trickster") View Details
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Grand Chase
              a.project-link(href="gc") View Details

        li
          .project-item.label 2011
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title MapleStory
              a.project-link(href="maplestory") View Details
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Nexon Social Games
              a.project-link(href="social") View Details 
        li
          .project-item.g
            .project-info.animate-opacity
              h2.project-title Nexon Assorted Games
              a.project-link(href="nexon") View Details                                                                        
        
        li
          .project-item.label 2010 &amp; Before
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title Musa
              a.project-link(href="musa") View Details
        li
          .project-item.e
            .project-info.animate-opacity
              h2.project-title Assi Market
              a.project-link(href="assi") View Details 
        li
          .project-item.e
            .project-info.animate-opacity
              h2.project-title Laguna
              a.project-link(href="laguna") View Details
        li
          .project-item.e
            .project-info.animate-opacity
              h2.project-title Trinity
              a.project-link(href="trinity") View Details
        li
          .project-item.e
            .project-info.animate-opacity
              h2.project-title Buy Me Scrub
              a.project-link(href="bms") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title PBC
              a.project-link(href="pbc") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title Noa Bank
              a.project-link(href="noa") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title Unibank
              a.project-link(href="unibank") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title Hanmi Bank
              a.project-link(href="hanmi") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title SJC
              a.project-link(href="sjc") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title MindlinQ
              a.project-link(href="mindlinq") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title Fox Connect
              a.project-link(href="fox") View Details
        li
          .project-item.c
            .project-info.animate-opacity
              h2.project-title Hana Financial
              a.project-link(href="hana") View Details                                                         

    //- .modal.animate-opacity
    //-   .modal-box.animate-opacity
    //-     .modal-close &times;
    //-     .modal-content


    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/scripts.js")

