!!! 5
html
  head
    title Suyeun Lee's Design Portfolio
    link(href="css/styles.css", rel="stylesheet")
  body
    .wrap
      h1 Good Morning, Sean!
      ul.filter-nav
        li(data-filter=".c") Corporate
        li(data-filter=".e") E-Commerce
        li(data-filter=".g") Game Site
        li(data-filter=".s") Social Games

      ul.project-list
        li
          .project-item.label 2014
        li
          .project-item.c One
        li
          .project-item.e Two
        li
          .project-item.g Three
        li
          .project-item.c Four
        li
          .project-item.s Five
        li
          .project-item.label 2013
        li
          .project-item.c Six
        li
          .project-item.e Seven
        li
          .project-item.g Eight
        li
          .project-item.c Nine
        li
          .project-item.label 2012
        li
          .project-item.s Ten
        li
          .project-item.c Eleven
        li
          .project-item.e Twelve
        li
          .project-item.g Thirteen
        li
          .project-item.c Fourteen
        li
          .project-item.s Fiveteen

    .modal.animate-opacity
      .modal-box.animate-opacity
        .modal-close &times;
        include projects/futbol

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/scripts.js")

