h1 CFES ESPAÑol
p Lorem ipsum is a term used to fill lots of copious amounts of text
.project-images
  img(src="img/guilt.png")
  img(src="img/toon.jpg")
  img(src="img/car.jpg")
  img(src="img/cat.jpg")
