*
  box-sizing border-box
  &:after
  &:before
    box-sizing border-box

html
body
  font-size 100%
  height    100%

body
  -webkit-font-smoothing antialiased
  font                   normal 0.875rem/1 'Raleway', 'Helvetica', 'Arial', sans-serif
  font-weight            500
  background             #fff
  color                  $black
  margin                 0
  padding                0

  &.modal-on
    overflow hidden

h1
  font-family 'Bitter', 'Georgia', serif
  font-size   2rem
  font-weight 400

a
  text-decoration none
  transition transform 0.2s ease-in

  &:active
  &:focus
    transform scale(.9,.9)

.wrap
  margin-top 6rem
  position   relative

  @media $tablet-vertical
    margin-top 3.75rem

.hide
  display none