/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox
#cboxOverlay
#cboxWrapper
  zIndex('topmost')
    
  left     0
  overflow hidden
  position absolute
  top      0

#cboxWrapper
  max-width none

#cboxOverlay
  height   100%
  position fixed
  width    100%

#cboxMiddleLeft
#cboxBottomLeft
  clear left

#cboxContent
  position relative

#cboxLoadedContent
  overflow auto
  -webkit-overflow-scrolling touch

#cboxTitle
  margin 0

#cboxLoadingOverlay
#cboxLoadingGraphic
  height   100%
  left     0
  position absolute
  top      0
  width    100%

#cboxPrevious
#cboxNext
#cboxClose
#cboxSlideshow
  cursor pointer

.cboxPhoto
  -ms-interpolation-mode bicubic
  border                 0
  display                block
  float                  left
  margin                 auto
  max-width              none

.cboxIframe
  border  0
  display block
  height  100%
  margin  0
  padding 0
  width   100%
/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay
  background rgba(0, 0, 0, 0.7)

#colorbox
  outline 0

#cboxContent
  background    #fff
  border-radius 8px
  min-height    400px
  padding       20px  

.cboxIframe
    background #fff

#cboxClose
  position absolute
  right    24px
  top      24px
  cursor   pointer

  &:before
      content '\00d7'

