.project-item
  width         25%
  float         left
  margin-right  25px
  margin-bottom 25px
  position      relative
  overflow      hidden
  
  & > img
  	position absolute
  	top      0
  	left     0
  