global-reset()

// Variables
$black = #222

$tablet-vertical = '(min-width:48em)'
$phone-vertical = '(min-width:30em)'

//Imports
@import 'base'
@import 'layout'
@import 'nav'
@import 'work-list'

@import 'animate'
