global-reset()

// VARIABLES
//Colors
$black = #222
//Breakpoints
$tablet-vertical = '(min-width:48em)'
$phone-vertical = '(min-width:30em)'

//MIXINS
zIndex(type)
  if type == 'topmost'
    z-index 5
  if type == 'screen'
    z-index 4
  if type == 'middle'
    z-index 3
  if type == 'bottom'
    z-index 2

//IMPORT
@import 'base'
@import 'layout'
@import 'nav'
@import 'project-list'
@import 'project-details'
@import 'modal'

@import 'animate'
