.modal
  zIndex('topmost')

  background     rgba(0, 0, 0, 0.7)
  bottom         0
  left           0
  opacity        0
  overflow       auto
  overflow-y     scroll
  position       fixed
  right          0
  top            0
  pointer-events none

  .modal-on &
    opacity        1
    pointer-events auto

.modal-box

  background    #fff
  box-shadow    0 5px 15px rgba(0, 0, 0, .7)
  left          0
  min-height    400px
  opacity       0
  padding       20px
  position      absolute
  top           0
  width         100%

  @media $phone-vertical
    left        50%
    margin-left -300px
    top         48px
    width       600px
    border-radius 8px
    margin-bottom 48px


  .modal-on &
    opacity   1

.modal-content
  overflow-x hidden

  & > h1
    margin-bottom 1.25rem

.modal-close
  color     $black
  cursor    pointer
  font-size 48px
  position  absolute
  right     12px
  top       10px

  &:hover
    color $red-med