nav
  zIndex('nav')
  
  background linear-gradient($black 90%, #000 100%) 
  color      #fff
  height     3.75rem
  left       0
  position   fixed
  right      0
  top        0

.nav-wrap
  position relative

  @media $tablet-vertical
    padding 0 24px

  & > h1
    height      3.75rem
    line-height 3.75rem
    text-align  center

    @media $tablet-vertical
      float left

.nav-links
  margin      0.625rem 0 0
  text-align  center
  font-weight 700

  @media $tablet-vertical
    clear       none
    float       right
    line-height 3.75rem
    margin      0


  & > li
    display     inline-block
    margin-left 1rem

    & > a
      color   $black
      display block
      height  100%
      width   100%
      
      &:hover
        color $red-med  
      
      @media $tablet-vertical
        color #fff


.filter-nav
  display     none
  font-weight 700
  padding     1rem
  text-align  center

  & > li
    display     inline-block
    cursor      pointer
    margin-left 1rem

    &.active
      color $red-med

    &:hover
      text-decoration underline

  @media $tablet-vertical
    display block
