.project-list
  clearfix()

  padding 0 0.75rem

  & > li
    width         90%
    position      relative

    @media $phone-vertical
      width 44%

    @media $tablet-vertical
      width        240px

.project-item
  background    #eee
  border        solid 1px $black
  float         left
  height        200px
  margin-bottom 24px
  width         100%

  &.label
    background #333
    font-size  28px
    color      #fff
    text-align center
