doctype
html(ng-app="Portfolio")
  head
    title Suyeun Lee's Design Portfolio
    link(href='http://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:500,700', rel='stylesheet')
    link(href="css/suyeun.css", rel="stylesheet")
  body
    nav
      .nav-wrap
        h1 Good Morning, Sean!
        ul.nav-links
          li: a(href="down/resume_suyeunlee.pdf", target="_blank") Resume
          li: a(href="https://www.linkedin.com/profile/view?id=71186657", target="_blank") LinkedIn
          li: a(href="mailto:freshsean@gmail.com") E-Mail

    .wrap
      ul.filter-nav
        li All
        li(data-filter=".c") Game Site
        li(data-filter=".e") Corporate Site
        li(data-filter=".g") Visual Work
        li(data-filter=".p") Personal

      .project-wrap(ng-controller='projectCtrl')
        ul.project-list
          li.project-item(ng-repeat="project in projects")
            //- img(ng-src=" {{ 'img/' + project.imgPath + '1.jpg'}}")
            h2 {{ project.title }}           
            p {{ project.description }}
            a.launch-modal(href="#", data-images='{{ project.numberImages}}') Go

    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/app.js")
